@import 'src/variables.scss';

$container-bg-dark: #1b161636;
$textarea-bg-dark: #272a2d;
$textarea-color-dark: white;
$toolbar-bg-dark: #2e3236;

$container-bg-light: #efeeee;
$textarea-bg-light: white;
$textarea-color-light: black;
$toolbar-bg-light: #ffffffeb;

:host ::-webkit-scrollbar-thumb {
  visibility: visible;
}

.top-bar {
  color: white;
  display: flex;
  flex-direction: row;
  box-shadow: $box-shadow;
  padding: 0.5rem 0.8rem;
  background-color: var(--secondary);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
  }
  .editor-settings {
    display: flex;
    flex-direction: column;
  }
  &.dark-theme {
    background-color: $toolbar-bg-dark;
    border-bottom: $toolbar-border;
  }
  &.light-theme {
    background-color: $toolbar-bg-light;
    border-bottom: $toolbar-border;
    p,
    span {
      color: #424242;
    }
  }
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #cccccc;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

.editor-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 2rem 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary);
}

.area-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;

  textarea {
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: $box-shadow;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    font-family: $font-family;
    resize: none;
  }
  &.dark-theme {
    background: $container-bg-dark;

    textarea {
      background: $textarea-bg-dark;
      color: $textarea-color-dark;
    }
  }
  &.light-theme {
    background: $container-bg-light;

    textarea {
      background: $textarea-bg-light;
      color: $textarea-color-light;
    }
  }
}
