.container {
  .recently-modified-section,
  .bookmarks-section {
    margin-left: 2rem;
  }
  .layout-selector-container {
    display: flex;
    justify-content: flex-end;
    .title {
      display: flex;
      align-items: center;
      > h2 {
        color: var(--contrast);
        margin: 0 0.5rem 0 0;
      }
      mat-icon {
        color: var(--iconColor);
      }
    }

    .layout-selector {
      color: var(--contrast);
      opacity: 0.9;
      mat-icon {
        cursor: pointer;
        transition: 150ms;
        &:hover {
          transform: scale(1.1);
        }
        &.selected {
          color: var(--iconColor);
        }
      }
    }
  }
}

.separator-el {
  padding: 2rem 0;
  &:after {
    content: '';
    display: block;
    width: 100%;
    margin: 0.7rem auto 0;
    // border-bottom: 1px solid var(--backgroundTertiary);
    opacity: 0.3;
  }
}

:host ::ng-deep .mat-tab-label {
  color: var(--contrast);
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--buttonColor);
}
