<div class="container">
  <div class="auto-complete">
    <!-- Search Input -->

    <input
      class="input-search"
      type="text"
      placeholder="Search for files"
      (input)="onSearchFiles($event.target.value)"
      (click)="onOpenDrop(true)"
      (clickOutside)="onOpenDrop(false)"
      [exclude]="'.input-search'"
    />

    <!-- Dropdown Menu -->
    <div *ngIf="openDrop" class="drop-down">
      <span *ngFor="let file of filterFiles">
        <p-button styleClass="template-button" class="template-button">
          <ng-template pTemplate="content">
            <div class="dropdown-item">
              <div class="file-information">
                <div class="top-row">
                  <ng-container *ngIf="file.iconName; else filler">
                    <img
                      *ngIf="file.iconName"
                      class="icon-width"
                      #image
                      src="../../../../assets/icons/file-extension-icons/{{
                        file.iconName
                      }}.svg"
                      width="15"
                      height="15"
                    />
                  </ng-container>
                  <ng-template #filler>
                    <div class="icon-width"></div>
                  </ng-template>

                  <p class="text-highlight">{{ file.name }}</p>
                </div>
                <div
                  class="bottom-row"
                  *ngIf="file.highlightContentText as highlight"
                >
                  <div class="filler"></div>
                  <p style="margin-left: 20px" [innerHtml]="highlight"></p>
                </div>
              </div>
            </div>
          </ng-template>
        </p-button>
      </span>
    </div>
  </div>
</div>
