@import 'src/variables.scss';

:host {
  width: 60%;
}

:host :hover::-webkit-scrollbar-thumb {
  visibility: visible !important;
}

.list-item {
  position: relative;
  cursor: pointer;
  :hover:not(.selected) {
    background-color: var(--buttonColor) !important;
  }
}
.keyboard-navigation-item {
  > .separator-el {
    width: 100%;
    position: relative;
  }
  > .separator-el:after {
    content: '';
    display: block;
    width: 95%;
    margin: 0.7rem auto 0;
    border-bottom: 1px solid var(--buttonColorLowerOpacity);
  }
  &:hover > .separator-el:after {
    visibility: hidden;
  }

  &:last-of-type > .separator-el:after {
    visibility: hidden;
  }
  &.selected > .separator-el:after {
    visibility: hidden;
  }
  &:hover > .meta-data {
    visibility: visible;
  }
}

.meta-data {
  visibility: hidden;
  position: absolute;
  top: 5px;
  color: #ffffffbf;
  right: 5px;
}

.keyboard-navigation-item {
  width: 100%;
  padding: 0.8rem 0;
  outline: none;
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;

  .icon-container {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    .icon {
      width: 2rem;
    }
  }
  .date-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    > p {
      opacity: 0.8;
      padding: 0.3rem 1rem;
      font-size: 0.9rem;
    }
  }

  .list-item-information {
    display: flex;
    flex-direction: row;
    pointer-events: none;
    width: 100%;
    height: 100%;

    .information-container {
      overflow: hidden;
      width: 100%;
      blockquote {
        &.show {
          visibility: visible;
        }
        &.hide {
          visibility: hidden;
        }
        display: flex;
        align-items: center;
        padding: 0.1rem 1em;
        margin: 0;
        white-space: nowrap;
        color: #8b949e;
        border-left: 0.25em solid #30363d;
      }
    }
    > p {
      margin: 0;
    }
  }

  &.selected {
    background: var(--buttonColorLowOpacity);
  }

  &:not(.selected):hover {
    background-color: var(--buttonColorLowOpacity);
  }

  .top-row {
    display: flex;
    height: 50%;
    flex-direction: row;
    align-items: center;

    p:not(.file-path) {
      font-size: 1.2rem;
      font-weight: bolder;
      color: var(--contrast);
    }
  }
  .bottom-row {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  p:not(.file-path) {
    margin: 0;
    color: var(--contrast);
  }
  .file-path {
    font-size: 1rem;
    opacity: 0.8;
    margin: 0 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--contrast);
  }
}

.container {
  height: 3rem;
}

.container .auto-complete {
  height: 100%;
}

::placeholder {
  color: var(--contrast);
  opacity: 0.5;
}

.searchbar {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  color: var(--contrast);

  .icon-container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  mat-icon {
    opacity: 0.8;
    transform: scale(0.8);
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    background: var(--secondary);
    color: var(--contrast);
    outline: none;
  }
  .search-builder {
    padding: 0 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  box-shadow: $box-shadow;
}

.auto-complete .drop-down {
  width: 100%;
  max-height: 40rem;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 500;
  overflow-y: auto;
  box-shadow: $box-shadow;
}

.icon-width {
  position: absolute;
  top: 0;
  right: 0;
  width: 4%;
}

:host ::ng-deep.highlightText {
  background: var(--buttonColor);
  border-radius: 2px;
}

.drop-down {
  width: 100%;
  background: var(--dropdownmenuBg);
  border: none;
  border-spacing: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}

::ng-deep .mat-menu-panel {
  margin-top: 0.2rem;
  max-width: 1000px !important;
  background: var(--primary);
}
