<div class="container">
  <div class="auto-complete">
    <!-- Search Input -->

    <div class="searchbar" #searchbar>
      <mat-icon>search</mat-icon>
      <input
        type="text"
        placeholder="Search for files"
        [(ngModel)]="searchQuery"
        (ngModelChange)="search()"
        (click)="onOpenDrop($event, true)"
        (clickOutside)="onOpenDrop($event, false)"
        [exclude]="'.input-search'"
      />
      <mat-icon class="search-builder" (click)="openSearchBuilder()">tune</mat-icon>
    </div>

    <!-- Dropdown Menu -->
    <ul *ngIf="openDrop" id="drop-down-list" class="drop-down" keyboardNavigationList>
      <ng-container *ngFor="let file of searchResults$ | async; let i = index; trackBy: trackByPath">
        <li role="option" keyboardNavigationItem (click)="onSelectItem(file)">
          <div class="separator-el">
            <div class="list-item-information">
              <div class="icon-container">
                <img class="icon" src="../../../../assets/icons/file-extension-icons/{{ file.extension }}.svg" />
              </div>

              <div class="information-container">
                <div class="top-row">
                  <p
                    class="text-highlight"
                    [innerHtml]="file.highlightTitleText ? file.highlightTitleText : file.fileName"
                  ></p>
                  <p
                    class="file-path"
                    [innerHtml]="file.highlightPathText ? file.highlightPathText : file.filePath"
                  ></p>
                </div>
                <div class="bottom-row">
                  <p [innerHtml]="file.highlightContentText ? file.highlightContentText : file.content"></p>
                </div>
              </div>
            </div>
          </div>
          <!--  <ng-container *ngIf="file.iconName; else filler">
            <img
              *ngIf="file.iconName"
              class="icon-width"
              src="../../../../assets/icons/file-extension-icons/{{
                file.iconName
              }}.svg"
            />
          </ng-container>
          <ng-template #filler>
            <div class="icon-width"></div>
          </ng-template> -->
        </li>
      </ng-container>
    </ul>
  </div>
</div>
