@import 'src/variables.scss';

:host {
  width: 60%;
}

.list-item {
  position: relative;
  cursor: pointer;
  :hover:not(.selected) {
    background-color: #484a4e !important;
  }
}
.keyboard-navigation-item {
  > .separator-el {
    width: 100%;
    position: relative;
  }
  > .separator-el:after {
    content: '';
    display: block;
    width: 95%;
    margin: 0.5em auto 0;
    border-bottom: 1px solid #5252524f;
  }

  &:last-of-type > .separator-el:after {
    display: none;
  }
}

.keyboard-navigation-item {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .icon-container {
    display: flex;
    margin-right: 0.5rem;
    .icon {
      width: 2rem;
    }
  }

  .list-item-information {
    display: flex;
    flex-direction: row;
    pointer-events: none;
    width: 100%;
    .information-container {
      overflow: hidden;
    }
    > p {
      margin: 0;
    }
  }

  &.selected {
    background: var(--buttonColor);
  }

  &:not(.selected):hover {
    background-color: #484a4e;
  }

  .top-row {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    p:not(.file-path) {
      font-size: 1.1rem;
      font-weight: bolder;
      color: var(--contrast);
    }
  }
  .bottom-row {
    display: flex;
    flex-direction: row;
    p {
      transform: skew(-5deg);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  p:not(.file-path) {
    margin: 0;
    color: var(--contrast);
  }
  .file-path {
    font-size: 1rem;
    opacity: 0.8;
    margin: 0 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--contrast);
  }
}

.container {
  height: 3rem;
}

.container .auto-complete {
  height: 100%;
}

::placeholder {
  color: var(--contrast);
  opacity: 0.5;
}

.searchbar {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  color: var(--contrast);

  padding: 0 1rem;
  mat-icon {
    margin-right: 0.5rem;
    opacity: 0.8;
    transform: scale(0.8);
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    background: var(--secondary);
    color: var(--contrast);
    outline: none;
  }
  .search-builder {
    cursor: pointer;
  }

  box-shadow: $box-shadow;
}

.auto-complete .drop-down {
  width: 100%;
  max-height: 40rem;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 500;
  overflow-y: auto;
  box-shadow: $box-shadow;
}

.icon-width {
  position: absolute;
  top: 0;
  right: 0;
  width: 4%;
}

:host ::ng-deep.highlightText {
  background: var(--buttonColor);
  border-radius: 2px;
}

.drop-down {
  width: 100%;
  background: var(--secondary);
  border: none;
  border-spacing: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}
