<div class="container">
  <div class="auto-complete">
    <!-- Search Input -->

    <div class="searchbar" #searchbar>
      <div class="icon-container">
        <mat-icon>search</mat-icon>
      </div>
      <input
        type="text"
        style="margin-left: 1rem"
        placeholder="Search for files"
        [(ngModel)]="searchQuery"
        (ngModelChange)="search()"
        (click)="onOpenDrop($event, true)"
        (clickOutside)="onOpenDrop($event, false)"
      />
      <div class="search-builder" [matMenuTriggerFor]="menu">
        <mat-icon>tune</mat-icon>
      </div>
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
      <div (click)="$event.stopPropagation()">
        <app-search-builder-dialog></app-search-builder-dialog>
      </div>
    </mat-menu>

    <!-- Dropdown Menu -->
    <ul *ngIf="openDrop" id="drop-down-list" class="drop-down" keyboardNavigationList>
      <ng-container *ngFor="let file of searchResults$ | async; let i = index; trackBy: trackByPath">
        <li role="option" keyboardNavigationItem (click)="onSelectItem(file)">
          <div class="meta-data">Last modified {{ file.modifiedAt | formatDistance }} ago</div>
          <div class="separator-el">
            <div class="list-item-information">
              <div class="icon-container">
                <app-icon [extension]="file.extension" [scale]="1.1"></app-icon>
              </div>

              <div class="information-container">
                <div class="top-row">
                  <p
                    class="text-highlight"
                    [innerHtml]="file.highlightTitleText ? file.highlightTitleText : file.fileName"
                  ></p>
                  <p
                    class="file-path"
                    [innerHtml]="file.highlightPathText ? file.highlightPathText : file.filePath"
                  ></p>
                </div>
                <div class="bottom-row">
                  <blockquote
                    [ngClass]="file.highlightContentText || file.content ? 'show' : 'hide'"
                    [innerHtml]="file.highlightContentText ? file.highlightContentText : file.content"
                  ></blockquote>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
