<div class="container">
  <h1 mat-dialog-title>Rename file</h1>
  <div mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill" cdkFocusInitial>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="fileName" />
      <span style="opacity: 0.7" matSuffix>.{{ extension }}</span>
    </mat-form-field>
    <mat-error *ngIf="!fileName.pristine && fileName.invalid">{{ getErrorMessage() }}</mat-error>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onRenameClick()" [disabled]="fileName.invalid">Rename</button>
  </mat-dialog-actions>
</div>
