.file-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

.no-content {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  h4 {
    color: var(--contrast);
    opacity: 0.7;
    margin: 0 !important;
  }
  mat-icon {
    color: var(--contrast);
    transform: scale(0.7);
  }
}
