@import 'src/variables.scss';

:host ::ng-deep .mat-tab-label {
  opacity: 1;
  height: 3rem;
  font-size: 1rem;
  .icon {
    width: 1.3rem;
  }
}

:host ::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
  overflow-x: scroll !important;
}

:host ::ng-deep .mat-tab-label-container {
  overflow: visible !important;
}

:host ::ng-deep .mat-tab-header:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

:host ::ng-deep ::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  border-radius: 5px;
}

:host ::ng-deep ::-webkit-scrollbar-thumb {
  background: #dcdadad6;
  visibility: hidden;
}

:host ::ng-deep .tab-label-container,
.contextmenu-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &.deleted-tab-title:after {
    content: '';
    position: absolute;
    width: 80%;
    border: 1px solid #545454;
  }
}

/* :host ::ng-deep .contextmenu-container .deleted-tab-title {
  padding: 10rem;
} */

:host ::ng-deep .mat-tab-label {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: var(--secondary);
  &.mat-tab-label-active {
    background-color: var(--buttonColor);
    box-shadow: $box-shadow-elevation;
  }
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--buttonColor);
  display: none;
}

:host ::ng-deep .mat-tab-body-wrapper,
.mat-tab-group {
  height: 100%;
}

.tab-name {
  margin-left: 0.5rem;
  color: var(--contrast);
}

.editor {
  height: 100%;
  width: 100%;
}

.close-button {
  color: var(--contrast);
  display: flex;
  font-size: 1.5rem;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
}

mat-icon:hover {
  font-size: 1.8rem;
  opacity: 1;
}

.deleted {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .deleted-text {
    color: var(--contrast);
  }
}

.deleted:after {
  content: '';
  background-image: url('/assets/icons/deleted.svg');
  background-repeat: no-repeat;
  background-size: 25rem;
  background-position: center;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.bring-back {
  color: var(--buttonColor);
  cursor: pointer;
}
