<div class="image-cropper-container">
  <div class="view-container" [ngClass]="{ editMode: editMode }" *ngIf="tab.fileContent; else loader" @componentLoaded>
    <div class="image-container">
      <ng-container *ngIf="!editMode" @componentLoaded>
        <div class="non-editmode-container">
          <img [src]="tab.fileContent | safeUrl" />

          <div class="list">
            <div class="">
              <span>
                <p>Size</p>
                <p>{{ tab.size | formatSize }}</p>
              </span>
              <span>
                <p>Created</p>
                <p>{{ tab.createdAt | date: 'mediumDate' }}</p>
              </span>
              <span>
                <p>Modified</p>
                <p>{{ tab.modifiedAt | date: 'mediumDate' }}</p>
              </span>
            </div>
            <span>
              <app-rounded-icon-button
                [icon]="'crop'"
                [tooltip]="'Edit'"
                [position]="'below'"
                (click)="toggleEditMode()"
              ></app-rounded-icon-button>
            </span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="editMode" @componentLoaded>
        <app-image-cropper
          [maintainAspectRatio]="maintainAspectRatio"
          [imageBase64]="imageBase64"
          [imageQuality]="imageQuality"
          [aspectRatio]="originalImageDimensions.width / originalImageDimensions.height"
          [maintainAspectRatio]="maintainAspectRatio"
          [selectedFormat]="selectedFormat"
          [imageTransform]="imageTransform"
          [originalImageDimensions]="originalImageDimensions"
          [croppedImageDimensions]="croppedImageDimensions"
          (croppedDimensions)="updateCroppedDimensions($event)"
          (originalDimensions)="updateOriginalDimensions($event)"
          (croppedImage)="onCrop($event)"
        ></app-image-cropper>
      </ng-container>
    </div>

    <div class="side-container mat-typography" [ngClass]="{ editMode: editMode }">
      <ng-container *ngIf="editMode">
        <app-editor-controls
          [filePath]="tab.filePath"
          [outputPath]="outputPath"
          [basePath]="basePath"
          [originalImageDimensions]="originalImageDimensions"
          [croppedImageDimensions]="croppedImageDimensions"
          [imageTransform]="imageTransform"
          [selectedFormat]="selectedFormat"
          [maintainAspectRatio]="maintainAspectRatio"
          [imageQuality]="imageQuality"
          (chooseOutputPath)="onChooseOutputPath($event)"
          (changeMaintainAspectRatio)="onChangeMaintainAspectRatio($event)"
          (toggleEditMode)="toggleEditMode()"
          (updateImageTransform)="updateImageTransform($event)"
          (changeQuality)="changeQuality($event)"
          (save)="onClickSave($event)"
        ></app-editor-controls>
      </ng-container>
    </div>
  </div>

  <ng-template #loader> <p-progressSpinner></p-progressSpinner> </ng-template>
</div>

<span class="result-container" *ngIf="editMode">
  <mat-divider></mat-divider>
  <h2>Preview</h2>
  <img [src]="croppedImage" />
</span>
