<div class="image-cropper-container">
  <div class="view-container" *ngIf="imagePath; else loader" @componentLoaded>
    <div class="image-container">
      <ng-container *ngIf="!editMode" @componentLoaded>
        <img [src]="imagePath | safeUrl" />
      </ng-container>

      <ng-container *ngIf="editMode" @componentLoaded>
        <app-image-cropper
          [maintainAspectRatio]="maintainAspectRatio"
          [imageBase64]="imageBase64"
          [imageQuality]="imageQuality"
          [aspectRatio]="originalImageDimensions.width / originalImageDimensions.height"
          [maintainAspectRatio]="maintainAspectRatio"
          [selectedFormat]="selectedFormat"
          [imageTransform]="imageTransform"
          [originalImageDimensions]="originalImageDimensions"
          [croppedImageDimensions]="croppedImageDimensions"
          (croppedDimensions)="updateCroppedDimensions($event)"
          (originalDimensions)="updateOriginalDimensions($event)"
          (croppedImage)="onCrop($event)"
        ></app-image-cropper>
      </ng-container>
    </div>

    <div class="side-container mat-typography" [ngClass]="{ editMode: editMode }">
      <ng-container *ngIf="!editMode; else controls">
        <div class="list">
          <span>
            <p>Size</p>
            <p>{{ tab.size | formatSize }}</p>
          </span>
          <span>
            <p>Created</p>
            <p>{{ tab.createdAt | date: 'mediumDate' }}</p>
          </span>
          <span>
            <p>Modified</p>
            <p>{{ tab.modifiedAt | date: 'mediumDate' }}</p>
          </span>
          <span>
            <button mat-button (click)="toggleEditMode()">Crop</button>
          </span>
        </div>
      </ng-container>

      <ng-template #controls>
        <app-editor-controls
          [filePath]="tab.filePath"
          [outputPath]="outputPath"
          [basePath]="basePath"
          [originalImageDimensions]="originalImageDimensions"
          [croppedImageDimensions]="croppedImageDimensions"
          [imageTransform]="imageTransform"
          [selectedFormat]="selectedFormat"
          [maintainAspectRatio]="maintainAspectRatio"
          [imageQuality]="imageQuality"
          (chooseOutputPath)="onChooseOutputPath($event)"
          (changeMaintainAspectRatio)="onChangeMaintainAspectRatio($event)"
          (toggleEditMode)="toggleEditMode()"
          (updateImageTransform)="updateImageTransform($event)"
          (onChangeQuality)="onChangeQuality($event)"
        ></app-editor-controls>
      </ng-template>
    </div>
  </div>

  <ng-template #loader> <p-progressSpinner></p-progressSpinner> </ng-template>
</div>

<span class="result-container" *ngIf="editMode">
  <mat-divider></mat-divider>
  <h2>Preview</h2>
  <img [src]="croppedImage" />
</span>
