@import '../editors.scss';
@import 'src/variables.scss';

.image-cropper-container {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep {
  .mat-list-item {
    height: 36px;
  }
  .mat-list-item-content {
    min-width: 200px;
    align-items: flex-start;
    justify-content: space-between;
    > p {
      color: var(--contrast);
      font-size: 1.1rem;
      min-width: 25%;
      margin: 0;
      overflow: hidden;
      display: inline-block;
      &:first-of-type {
        opacity: 0.7;
      }
    }
  }
}

.view-container {
  height: 80%;
  width: 95%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  &:not(.editMode) {
    justify-content: center;
    flex-direction: column;
  }
  .image-container {
    width: 80%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    box-shadow: $box-shadow-elevation;
  }
  .side-container {
    margin-left: 1rem;
    width: 80%;
    color: var(--contrast);

    &.editMode {
      width: 35%;
      justify-content: flex-end;
      min-width: 25rem;
    }
  }
}
.non-editmode-container {
  position: relative;
  max-width: 100%;
  min-width: 450px;
  height: 80%;
  &:hover .list {
    opacity: 1;
  }
  .list {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 99999;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6505311597295168) 0%,
      rgba(0, 0, 0, 0.4488504874606093) 22%,
      rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(3px);
    transition: opacity 300ms;
    > div {
      display: flex;
      > span {
        display: flex;
        justify-content: space-between;
        margin: 0 0.5rem;
        > p {
          color: var(--contrast);
          font-size: 1.1rem;
          min-width: 25%;
          margin: 0 0.3rem;
          white-space: nowrap;
          overflow: hidden;
          display: inline-block;
          &:first-of-type {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .mat-button {
    width: 100%;
    background-color: var(--buttonColor);
    color: var(--contrast);
    line-height: 25px;
  }
}

.result-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  mat-divider {
    width: 100%;
  }
  h2 {
    color: var(--contrast);
  }
  img {
    margin: 2rem;
    max-width: 60rem;
    box-shadow: $box-shadow-elevation;
  }
}

.output-name {
  opacity: 1;
}
.margin-vertical {
  margin: 1.5rem 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.output-path {
  color: var(--contrast);
}
