<div class="editor-container">
  <div class="elevation">
    <span class="top-bar" [ngClass]="isChecked ? 'light-theme' : 'dark-theme'"
      ><span class="last-saved">
        <h4 style="opacity: 0.7; margin-left: 10px">{{ lastUpdated }}</h4>
      </span>

      <div class="editor-settings">
        <mat-slide-toggle
          id="theme-toggle"
          [(ngModel)]="isChecked"
          (ngModelChange)="onChangeTheme()"
        ></mat-slide-toggle>
      </div>
    </span>

    <div class="editor-border">
      <ngx-markdown-editor
        class="markdown-body"
        id="ngx-markdown-editor-{{ tab.path }}"
        [ngClass]="isChecked ? 'light-theme' : 'dark-theme'"
        [options]="editorOptions"
        (contentChange)="onEditorContentChange()"
      ></ngx-markdown-editor>
    </div>
  </div>
</div>
