@import 'src/variables.scss';

$markdown-bg-dark: #272a2d;
$markdown-color-dark: white;
$toolbar-bg-dark: #2e3236;

$markdown-bg-light: #ffffff;
$markdown-color-light: black;
$toolbar-bg-light: white;

.editor-container {
  height: 100%;
  width: 100%;

  .elevation {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .top-bar {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0.8rem;

      p {
        margin: 0;
      }

      .editor-settings {
        display: flex;
        flex-direction: column;
      }

      &.light-theme {
        p,
        span {
          color: #c5c2c2;
        }
      }
      .last-saved {
        h4,
        h3 {
          margin: 0;
        }
        display: flex;
        align-items: center;
      }
    }
  }

  .editor-border {
    width: 100%;
    height: 95%;
  }
}

ngx-markdown-editor {
  height: 100%;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #cccccc;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}

:host ::ng-deep .ngx-markdown-editor-toolbar {
  background-color: var(--backgroundSecondary);
  padding: 0 0.8rem 0.5rem;
  box-shadow: $box-shadow-elevation;
}

:host ::ng-deep .CodeMirror {
  background: var(--editorBg1);
  border-radius: 0;
}
:host ::ng-deep .CodeMirror-scroll {
  padding-bottom: 0 !important;
}

:host ::ng-deep .ngx-markdown-editor-wrapper > :first-child {
  border: none !important;
}

:host ::ng-deep ngx-markdown-editor.default .ngx-markdown-editor-wrapper > * {
  border: none;
}
:host ::ng-deep .dark-theme {
  .ngx-markdown-editor-statusbar {
    color: white;
    margin: 0;
    padding: 0.5rem;
    background-color: var(--backgroundTertiary);
  }
  .ngx-markdown-editor-toolbar {
    background-color: var(--mdStatusToolbarBg);
    mat-icon {
      color: white;
      opacity: 0.9;
    }
  }
  .cm-header {
    color: #8c8cff;
  }

  .cm-variable-2 {
    color: #4b9beb;
  }
  .cm-keyword {
    color: #b227c5;
  }
  .cm-link {
    color: #007fcc;
  }
  .mat-button-base,
  .mat-form-field-label,
  .mat-select-arrow,
  .mat-select-value {
    color: $markdown-color-dark;
  }
  .mat-form-field-underline {
    background-color: $markdown-color-dark;
  }
  .ngx-markdown-editor-preview {
    color: $markdown-color-dark;
    background: var(--editorBg2);
  }
  .ngx-markdown-editor-preview > .preview-wrapper {
    border-left: 1px solid #ffffff24;
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
  .CodeMirror-scroll {
    color: $markdown-color-dark;
  }
  .CodeMirror {
    background: var(--backgroundTertiary);
  }
  .CodeMirror-cursor {
    border-left: 1px solid $markdown-color-dark;
  }
}

:host ::ng-deep .light-theme {
  .ngx-markdown-editor-statusbar {
    color: white;
    margin: 0;
    padding: 0.5rem;
  }
  .ngx-markdown-editor-toolbar {
    background-color: $toolbar-bg-light;
    mat-icon {
      color: black;
    }
  }
  .mat-button-base,
  .mat-form-field-label,
  .mat-select-arrow {
    color: $markdown-color-light;
  }
  .mat-form-field-underline {
    background-color: $markdown-color-light;
  }
  .ngx-markdown-editor-preview {
    color: $markdown-color-light;
    background: $markdown-bg-light;
  }
  .ngx-markdown-editor-preview > .preview-wrapper {
    border-left: 1px solid #0000002b;
  }
  .ngx-markdown-editor-preview::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .CodeMirror-scroll {
    color: $markdown-color-light;
    background: $markdown-bg-light;
  }
  .Codemirror {
    background: $markdown-bg-light;
  }
  .CodeMirror-cursor {
    border-left: 1px solid $markdown-color-light;
  }
}
