.container {
  border: none;
  background: none;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transition: all 300ms;
  }
}
i {
  color: var(--iconColor);
  cursor: pointer;
}

:host ::ng-deep {
  .mat-ripple-element {
    background-color: var(--iconColor) !important;
  }
  .mat-button-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
