.container {
  padding: 0.3rem;
  border: none;
  background: none;
  &:hover {
    background: var(--buttonColor);
    transition: background-color 300ms;
  }
}
mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem !important;
  color: var(--contrast);
  cursor: pointer;
}
