.file-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.file-card-container {
  padding: 1rem;
}

.files-header {
  display: flex;
  justify-content: center;
  color: var(--contrast);
}

.min-width {
  min-width: 800px;
}
