<div class="editor-container" keyboardEvents (save)="onSaveHotkeyPress()">
  <app-editor-top-bar [tab]="tab"></app-editor-top-bar>

  <div class="area-container dark-theme" [ngClass]="isChecked ? 'light-theme' : 'dark-theme'">
    <as-split direction="horizontal" class="as-horizontal" [gutterSize]="1" (dragEnd)="onDragEnd($event)">
      <as-split-area class="side-menu-split" [size]="editorWidth">
        <mat-icon *ngIf="previewWidth < 5" class="show-button" (click)="showPreview()">chevron_left</mat-icon>
        <button [disabled]="!isValidJson" class="lint-button" mat-button (click)="lint()">Lint</button>
        <div class="editor">
          <ngx-codemirror
            #codeMirror
            id="ngx-codemirror-{{ tab.filePath }}"
            [(ngModel)]="textContent"
            (ngModelChange)="onInputChange($event)"
            (contextmenu)="showContextMenu($event)"
            [options]="{
              mode: 'javascript',
              theme: 'moxer',
              lineNumbers: true,
              indentUnit: 4,
              matchBrackets: true,
              styleActiveLine: true,
              lint: true,
              styleActiveSelected: true,
              gutters: ['CodeMirror-lint-markers']
            }"
          ></ngx-codemirror>
        </div>
      </as-split-area>

      <as-split-area class="format-result" [size]="previewWidth">
        <div class="format-view">
          <mat-icon *ngIf="previewWidth > 5" class="hide-button" (click)="hidePreview()">chevron_right</mat-icon>
          <span class="button-container">
            <div>
              <h3 class="invalid-json" *ngIf="!isValidJson">Invalid json</h3>
            </div>
            <div>
              <mat-button-toggle-group
                name="toggle json | raw"
                aria-label="toggle json | raw"
                [(ngModel)]="previewMode"
              >
                <mat-button-toggle value="json">JSON</mat-button-toggle>
                <mat-button-toggle value="raw">Raw</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </span>

          <section class="layout-section">
            <ng-container *ngIf="previewMode === 'json' && formattedResult; else raw">
              <app-json-formatter #jsonFormatter [json]="formattedResult" [open]="openCount"></app-json-formatter>
            </ng-container>

            <ng-template #raw>
              <div class="raw-json" [innerHTML]="highlightedContent"></div>
            </ng-template>
          </section>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>
