<div style="height: 100%" *ngIf="tabData$ | async as tabData; else loader" @componentLoaded>
  <ng-container [ngSwitch]="tabData.editorConfig.editorType">
    <div *ngSwitchCase="'txt'" class="editor">
      <app-text-editor [tab]="tabData"></app-text-editor>
    </div>

    <div *ngSwitchCase="'md'" class="editor">
      <app-markdown-editor [tab]="tabData"></app-markdown-editor>
    </div>

    <div *ngSwitchCase="'json'" class="editor">
      <app-json-editor [tab]="tabData"></app-json-editor>
    </div>

    <div *ngSwitchCase="'pdf'" class="editor">
      <app-pdf-editor [tab]="tabData"></app-pdf-editor>
    </div>

    <div *ngSwitchCase="'image'" class="editor">
      <app-image-editor [tab]="tabData"></app-image-editor>
    </div>

    <div *ngSwitchDefault class="no-viewer-available">
      <span
        >No viewer available for files of type <span>{{ tabData.extension }}</span></span
      >
    </div>
  </ng-container>
</div>

<ng-template #loader>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
