:host {
  height: 100%;
}
.editor {
  height: 100%;
  width: 100%;
  background: var(--backgroundSecondary);
}

.no-viewer-available {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    font-size: 1.2rem;
    color: var(--contrast);
    > span {
      font-size: 1.2rem;
      color: var(--buttonColor);
    }
  }
}
