@import '../../assets/themes/theme.scss';
@import '../../variables.scss';
.app-container {
  height: 100%;
}

.scroll-panel-container {
  min-width: 200px;
}

.top-bar-split {
  background: var(--topbarBg);
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-menu-split {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary) !important;
}

:host {
  .app-container as-split {
    ::ng-deep .as-split-gutter {
      background-color: transparent !important;
      position: relative;
    }
  }

  ::ng-deep .as-split-gutter-icon {
    background-image: none !important;
    background-color: var(--gutterBg);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
  }

  ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
  ::ng-deep .as-split-gutter-icon:hover {
    opacity: 0.8;
    z-index: 1;
    width: 7px !important;
    left: -3px;
    right: 3px;
  }
}
