@import '../../assets/themes/theme.scss';
@import '../../variables.scss';
.app-container {
  height: 100%;
}

.scroll-panel-container {
  min-width: 200px;
}

.top-bar-split {
  background: var(--topbarBg);
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.side-menu-split {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary) !important;
}
