@import '../../assets/themes/theme.scss';
@import '../../variables.scss';
.app-container {
  height: 100%;
}

.scroll-panel-container {
  min-width: 200px;
}

.side-menu-split {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
