<ng-container *ngIf="initialized$ | async; else loading">
  <div class="app-container" @componentLoaded>
    <div class="top-container">
      <app-actions-menu class="actions-menu"></app-actions-menu>

      <div class="editor-view">
        <app-top-bar class="topbar"></app-top-bar>
        <as-split direction="horizontal" class="as-horizontal" [gutterSize]="1" (dragEnd)="onDragEnd($event)">
          <as-split-area class="side-menu-split" [size]="sideMenuWidth">
            <app-side-menu></app-side-menu>
          </as-split-area>

          <as-split-area [size]="editorWidth" class="editor-split">
            <app-editor-view></app-editor-view>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading-container"><p-progressSpinner></p-progressSpinner></div>
</ng-template>
