<span class="side-menu-container">
  <span class="side-menu-topbar">
    <div class="button-container">
      <app-rounded-icon-button
        [icon]="'folder_open'"
        [tooltip]="'Expand all'"
        (onClick)="expandAll()"
      ></app-rounded-icon-button>
      <app-rounded-icon-button
        [icon]="'folder'"
        [tooltip]="'Collapse all'"
        (onClick)="collapseAll()"
      ></app-rounded-icon-button>
      <app-rounded-icon-button
        [icon]="'create_new_folder'"
        [tooltip]="'Create new folder'"
        (onClick)="createNewFolder()"
      ></app-rounded-icon-button>
      <app-rounded-icon-button
        [icon]="'swap_horiz'"
        [tooltip]="'Change workspace'"
        (onClick)="openChangeWorkspaceDialog()"
      ></app-rounded-icon-button>
    </div>
    <div class="loader">
      <mat-progress-bar mode="indeterminate" [ngClass]="{ visible: menuLoading }"></mat-progress-bar>
    </div>
  </span>

  <app-tree [files]="files$ | async" [workspace]="workspaceName"></app-tree>
</span>
