@import 'src/variables.scss';

:host ::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  background-color: var(--buttonColor);
  box-shadow: none;
}
:host ::ng-deep .p-tree {
  padding: 0;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  border-color: var(--buttonColor);
  box-shadow: none;
}

:host ::ng-deep .p-tree-empty-message {
  display: none; // Had to do this because tree's emptyMessage does not work.
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--buttonColor);
}

::ng-deep .mat-progress-bar-buffer {
  background: var(--background-secondary);
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.side-menu-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-right: $app-border;
}

.mat-progress-bar {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.side-menu-topbar {
  height: 100%;
  background-color: var(--background-tertiary);

  .button-container {
    display: flex;
    flex-direction: column;
  }
  app-rounded-icon-button {
    padding: 0.5rem 0.4rem;
  }
  .loader {
    height: 4px;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

:host {
  ::ng-deep .new-file {
    animation: slide 0.3s ease-in-out;
  }
}
