<div class="container" *ngIf="downloaderState.showLoader">
  <span class="top-container">
    <p *ngIf="downloaderState.status !== 'downloaded'">
      <span> {{ downloaderState.statusText }}</span>
      <span *ngIf="downloaderState.progressTotal as progress">{{ progress }}</span>
    </p>

    <button mat-button *ngIf="downloaderState.status === 'available'" (click)="downloadUpdate()">
      Download <mat-icon>download</mat-icon>
    </button>

    <button mat-button *ngIf="downloaderState.status === 'downloaded'" (click)="quitAndInstall()">
      <mat-icon>restart_alt</mat-icon>Apply update and restart
    </button>
  </span>

  <mat-progress-bar
    [ngClass]="{ show: downloaderState.status === 'downloading' }"
    mode="determinate"
    [value]="downloaderState.downloadProgress"
  ></mat-progress-bar>
</div>
