.container {
  .top-container {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    margin-left: 0.5rem;
    color: var(--contrast);
  }
  mat-progress-bar {
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }
}

:host ::ng-deep {
  .mat-button {
    color: var(--contrast);
    opacity: 0.8;
  }
  .mat-button:hover {
    background-color: var(--buttonColor);
  }
}
