.container {
  background: #1010108a;
  backdrop-filter: blur(3px);
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin: 0 0 0 0.5rem;
    color: var(--contrast);
  }
  mat-progress-bar {
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }
  mat-icon {
    transform: scale(0.8);
  }
}

:host ::ng-deep {
  .mat-button {
    color: var(--contrast);
    opacity: 0.8;
  }
  .mat-button-wrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}
