.container {
  background: #1010104f;
  backdrop-filter: blur(2px);
  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  p {
    margin: 0;
    width: 100%;
    color: var(--contrast);
    display: flex;
    justify-content: space-between;
    > span {
      margin: 5px 10px;
    }
  }
  mat-progress-bar {
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }
  mat-icon {
    transform: scale(0.8);
  }
}

:host ::ng-deep {
  .mat-button {
    margin-right: 5px;
    color: var(--contrast);
    opacity: 0.8;
  }
  .mat-button-wrapper {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
}
