<span class="actions-menu">
  <div class="button-container">
    <app-rounded-icon-button
      [icon]="'unfold_more'"
      [tooltip]="'Expand all'"
      [style.transform]="'rotate(90deg)'"
      (onClick)="expandAll()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'unfold_less'"
      [tooltip]="'Collapse all'"
      [style.transform]="'rotate(90deg)'"
      (onClick)="collapseAll()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'create_new_folder'"
      [tooltip]="'Create new folder'"
      (onClick)="createNewFolder()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'post_add'"
      [tooltip]="'Create new file'"
      (onClick)="createNewFile()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'swap_horiz'"
      [tooltip]="'Change workspace'"
      (onClick)="openChangeWorkspaceDialog()"
    ></app-rounded-icon-button>
  </div>
</span>
