<span class="actions-menu">
  <div class="button-container">
    <app-rounded-icon-button
      [icon]="'unfold_more'"
      [tooltip]="'Expand all'"
      [style.transform]="'rotate(90deg)'"
      [scale]="1.1"
      (onClick)="expandAll()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'unfold_less'"
      [tooltip]="'Collapse all'"
      [style.transform]="'rotate(90deg)'"
      [scale]="1.1"
      (onClick)="collapseAll()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'create_new_folder'"
      [tooltip]="'Create new folder'"
      [scale]="1.1"
      (onClick)="createNewFolder()"
    ></app-rounded-icon-button>
    <app-rounded-icon-button
      [icon]="'swap_horiz'"
      [tooltip]="'Change workspace'"
      [scale]="1.1"
      (onClick)="openChangeWorkspaceDialog()"
    ></app-rounded-icon-button>
  </div>
</span>
