@import '../../../../variables.scss';

:host ::ng-deep .p-inputtext {
  background: var(--primary);
  opacity: 1;
  color: var(--contrast) !important;
}

:host ::ng-deep .ui-inputfield {
  color: black;
}

img {
  cursor: pointer;
}

p-autocomplete {
  width: 100%;
  height: 100%;
}

.filler {
  width: 20%;
  display: flex;
  justify-content: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
  min-height: 7rem;
  align-items: center;
  padding: 1rem;
  border-left: $app-border;
  border-bottom: $app-border;
}

.input {
  width: '100%';
  color: black;
  background: var(--primary);
}

.autocomplete {
  border-radius: 0.5rem;
  height: 3rem;
  width: 60%;
  background-color: var(--primary);
  color: var(--contrast);
}

.p-button-label {
  display: none;
}
.topbar-end {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text {
  margin-left: 0.5rem;
  color: $dark-1-opposite-color;
}
