@import '../../../../variables.scss';

:host ::ng-deep .p-inputtext {
  background: var(--editorBg);
  opacity: 1;
  color: var(--contrast) !important;
}

:host ::ng-deep .ui-inputfield {
  color: black;
}

p-autocomplete {
  width: 100%;
  height: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 1rem;
  border-bottom: 1px solid var(--accent);
}

.input {
  width: '100%';
  color: black;
  background: var(--editorBg);
}

.autocomplete {
  border-radius: 0.5rem;
  height: 3rem;
  width: 60%;
  background-color: var(--editorBg);
  color: var(--contrast);
}

.p-button-label {
  display: none;
}
.topbar-end {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 0.5rem;
  color: $dark-1-opposite-color;
}
