<div class="card-container">
  <div class="card-header">
    <h3 class="contrast-text">{{ file.fileName }}</h3>

    <!-- <mat-icon>more_vert</mat-icon> -->
  </div>

  <p-card (click)="openInNewTab(file)">
    <app-icon [extension]="file.extension" [scale]="2.5"></app-icon>
  </p-card>
  <p class="last-modified-text">Last updated {{ file.modifiedAt | formatDistance }} ago</p>
  <div class="chips-container padding">
    <mat-chip-list aria-label="File tags">
      <!-- <div *ngFor="let tag of [{ bg: 'black', color: 'white', name: 'test' }]">
      <mat-chip [style.background-color]="tag.bg" [style.color]="tag.color">{{ tag.name }}</mat-chip>
    </div> -->
    </mat-chip-list>
  </div>
</div>
