@import 'src/variables.scss';

:host ::ng-deep {
  .mat-list-item {
    height: 36px;
  }
  .mat-list-item-content {
    min-width: 200px;
    align-items: flex-start;
    justify-content: space-between;
    > p {
      color: var(--contrast);
      font-size: 1.1rem;
      min-width: 25%;
      margin: 0;
      overflow: hidden;
      display: inline-block;
      &:first-of-type {
        opacity: 0.7;
        // width: 75%;
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .mat-button {
      background-color: var(--buttonColor);
      color: var(--contrast);
      line-height: 2.5rem;
      margin: 0.3rem;

      &.cancel {
        background-color: $cancel-button-color;
      }
      &.save {
        background-color: var(--buttonColor);
      }
    }
    .icon-container {
      display: flex;
    }
    .mat-select {
      width: 5rem;
    }
  }

  .mat-slider-thumb {
    background: var(--buttonColor);
  }
  .mat-slider-thumb-label,
  .mat-slider-track-fill {
    background-color: var(--buttonColorLowOpacity);
  }
  .mat-select-value {
    color: var(--contrast);
    opacity: 0.8;
  }
  .mat-select-arrow {
    color: var(--contrast);
    opacity: 0.8;
  }
  .mat-subheader {
    color: var(--contrast);
  }
  .mat-divider {
    margin: 1rem;
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-input-element {
    font-size: 1.1rem;
  }
  .mat-form-field-label,
  .mat-focused .mat-form-field-label,
  input.mat-input-element {
    color: var(--contrast);
    opacity: 0.8;
  }
  .mat-button:hover {
    background-color: var(--buttonColor);
  }
  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: var(--buttonColor);
  }
  .mat-focused .mat-form-field-ripple {
    background-color: var(--buttonColor) !important;
  }
}

.editor-controls {
  width: 100%;
  background: var(--backgroundPrimary);
  box-shadow: $box-shadow-elevation;
  border-radius: 10px;
}
.output-location {
  padding: 0 16px;
  font-size: 1rem;
  opacity: 0.8;
  color: var(--contrast);
  > .output-path {
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    mat-icon {
      cursor: pointer;
      transform: scale(0.8);
    }
  }
}

.output-name {
  opacity: 1;
}
.margin-vertical {
  margin: 1.5rem 0;
}
.margin-horizontal {
  margin: 0 0.5rem;
}
.dimension-container {
  display: flex;
  align-items: center;
  > p {
    color: var(--contrast);
    font-size: 1.1rem;
    margin: 0;
    &:first-of-type {
      opacity: 0.7;
      text-decoration: line-through;
    }
  }
  mat-icon {
    color: var(--contrast);
    opacity: 0.8;
    transform: scale(0.8);
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.output-path {
  color: var(--contrast);
}
