<div class="tree-container">
  <p-tree
    [value]="files"
    droppableNodes="true"
    draggableNodes="true"
    expanded="true"
    selectionMode="multiple"
    [validateDrop]="true"
    (onNodeDrop)="onDrop($event)"
    [filter]="true"
    [styleClass]="'tree'"
    (clickOutside)="onClickOutside()"
    [contextMenu]="contextMenu"
    [(selection)]="selectedFiles"
    (onNodeSelect)="onSelectFile($event)"
    (onNodeContextMenuSelect)="onRightClick($event)"
  >
    <ng-template let-node pTemplate="file">
      <span class="row-container">
        <ng-container *ngFor="let e of [].constructor(node.data.indents)">
          <div class="indent"></div>
        </ng-container>

        <span class="node-row" pDraggable="droppable" (onDragStart)="dragStart(node)" (onDragEnd)="dragEnd()">
          <img class="icon" src="../../../../assets/icons/file-extension-icons/{{ node.data.icon }}" />
          <p>{{ node.label }}</p>
        </span>
      </span>
    </ng-template>

    <ng-template let-node pTemplate="folder">
      <span class="row-container" (click)="expand($event, node)">
        <ng-container *ngFor="let e of [].constructor(node.data.indents)">
          <div class="indent"></div>
        </ng-container>
        <mat-icon [ngClass]="{ empty: !node.children.length }">
          {{ node.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon
        >

        <span class="node-row" (onDragStart)="dragStart(node)" (onDragEnd)="dragEnd()" pDraggable="droppable">
          <p>{{ node.label }}</p>
        </span>
      </span>
    </ng-template>
  </p-tree>

  <span
    class="dropzone"
    [ngClass]="{ dragging: isHovering }"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    pDroppable="droppable"
    (drop)="dropOutside($event)"
  >
  </span>
</div>

<p-contextMenu
  #contextMenu
  [model]="contextMenuItems"
  [triggerEvent]="'none'"
  (unselectFile)="onUnselectFile()"
></p-contextMenu>
