<p-tree
  [value]="files"
  draggableNodes="true"
  preventContextMenu
  droppableNodes="true"
  expanded="true"
  selectionMode="multiple"
  [validateDrop]="true"
  (onNodeDrop)="onDrop($event)"
  (contextmenu)="$event.preventDefault()"
  [filter]="true"
  [styleClass]="'tree'"
  (clickOutside)="onClickOutside()"
  [contextMenu]="contextMenu"
  [(selection)]="selectedFiles"
  (onNodeSelect)="onSelectFile($event)"
  (onNodeContextMenuSelect)="onRightClick($event)"
>
  <ng-template let-node pTemplate="file">
    <div class="node-row">
      <img class="icon" src="../../../../assets/icons/file-extension-icons/{{ node.data.icon }}" />
      <p>{{ node.label }}</p>
    </div>
  </ng-template>
  <!--   <ng-template let-node pTemplate="folder">
    <div class="node-row">
      <mat-icon *ngIf="!node.children.length">{{ node.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      <p>{{ node.label }}</p>
    </div>
  </ng-template> -->
</p-tree>

<p-contextMenu
  #contextMenu
  [model]="contextMenuItems"
  [triggerEvent]="'none'"
  (unselectFile)="onUnselectFile()"
></p-contextMenu>
