:host ::ng-deep .p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
  color: var(--iconColor);
  font-size: 1.3rem;
}

:host ::ng-deep .p-tree .p-tree-container .p-treenode {
  padding: 0;
  border-radius: 0;
}

:host ::ng-deep .p-tree .p-treenode-droppoint {
  height: 0;
}

:host ::ng-deep .p-treenode-leaf > .p-treenode-content .p-tree-toggler {
  visibility: hidden;
  width: 0rem !important;
  padding: 0.3rem;
}
:host ::ng-deep ul.p-treenode-children > .p-element > .p-treenode-leaf {
  margin-left: 0.4rem;
}

:host ::ng-deep ul.p-treenode-children > .p-element > .p-treenode:not(.p-treenode-leaf) {
  margin-left: 0.5rem;
}

:host ::ng-deep ul.p-treenode-children > .p-element > .p-treenode:not(.p-treenode-leaf) {
  margin-left: 0.5rem;
}

/* :host ::ng-deep ul.p-treenode-children > .p-element > .p-treenode {
  border-left: 1px solid gray;
} */

.tree-container {
  height: 96%;
  display: flex;
  flex-direction: column;
}

.dropzone {
  display: block;
  flex: 1;
  min-height: 3rem;
}

.dragging {
  background: var(--buttonColor);
  opacity: 0.5;
  border-radius: 5px;
}

.node-row {
  transform: translateX(-0.3rem);
  display: flex;
  align-items: center;
  p {
    margin: 0 0.5rem;
  }
}

.icon {
  width: 1.4rem;
}
