<div class="tree-container">
  <div class="workspace-title" *ngIf="workspace">
    <h4>{{ workspace }}</h4>
  </div>
  <p-tree
    [value]="files"
    [droppableNodes]="true"
    [draggableNodes]="true"
    expanded="true"
    selectionMode="multiple"
    [validateDrop]="true"
    (onNodeDrop)="onDrop($event)"
    [filter]="true"
    [styleClass]="'tree'"
    (clickOutside)="onClickOutside()"
    [contextMenu]="contextMenu"
    [(selection)]="selectedFiles"
    (onNodeSelect)="onSelectFile($event)"
    (onNodeContextMenuSelect)="onRightClick($event)"
  >
    <ng-template let-node pTemplate="file">
      <span
        class="row-container"
        [ngClass]="{
          active: node.data.filePath === activeIndent?.activeNode,
          dragging: isDragging
        }"
      >
        <ng-container *ngFor="let e of [].constructor(node.data.indents); let i = index">
          <div
            class="indent"
            [ngClass]="{
              active: node.data.parentPath.includes(activeIndent?.activeParent) && i + 1 === activeIndent.indent
            }"
          ></div>
        </ng-container>

        <span class="node-row" pDraggable="droppable" (onDragStart)="dragStart(node)" (onDragEnd)="dragEnd()">
          <app-icon [extension]="node.data.fileExtension"></app-icon>
          <p>{{ node.label }}</p>
        </span>
      </span>
    </ng-template>

    <ng-template let-node pTemplate="folder">
      <span class="row-container" (click)="expand($event, node)" [ngClass]="{ dragging: isDragging }">
        <ng-container *ngFor="let e of [].constructor(node.data.indents); let i = index">
          <div
            class="indent"
            [ngClass]="{
              active: node.data.parentPath.includes(activeIndent?.activeParent) && i + 1 === activeIndent.indent
            }"
          ></div>
        </ng-container>
        <mat-icon [ngClass]="{ empty: !node.children.length }">
          {{ node.expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon
        >

        <span class="node-row" (onDragStart)="dragStart(node)" (onDragEnd)="dragEnd()" pDraggable="droppable">
          <p>{{ node.label }}</p>
        </span>
      </span>
    </ng-template>
  </p-tree>

  <span
    #dropzoneTarget
    class="dropzone"
    [ngClass]="{ dragging: isHovering }"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (contextmenu)="onRightClickDropZone($event)"
    pDroppable="droppable"
    (drop)="dropOutside($event)"
  >
  </span>
</div>

<p-contextMenu
  #contextMenu
  [model]="contextMenuItems"
  [triggerEvent]="'none'"
  (unselectFile)="onUnselectFile()"
></p-contextMenu>

<p-contextMenu
  [target]="dropzoneTarget"
  #contextMenuDropZone
  appendTo="body"
  [model]="dropZoneContextMenuItems"
  [triggerEvent]="'none'"
></p-contextMenu>
