:host ::ng-deep .p-component {
  font-size: 1.1rem;
}

:host ::ng-deep .p-tree .p-tree-container .p-treenode {
  padding: 0;
  border-radius: 0;
  outline: none !important;
  border: none !important;
}

:host ::ng-deep .p-tree .p-treenode-droppoint {
  height: 0;
}

:host ::ng-deep .p-tree .p-treenode-children {
  padding: 0;
}

:host ::ng-deep .p-treenode-content .p-tree-toggler {
  width: 0 !important;
  height: 0 !important;
  padding: 0;
}
:host ::ng-deep .p-tree-wrapper {
  overflow: auto;
}

:host ::ng-deep .p-treenode-content {
  padding: 0 !important;
  border-radius: 0 !important;
  height: 2.5rem;
}

:host ::ng-deep .p-treenode-label {
  height: 100%;
  align-items: center;
  display: flex;
}

:host ::ng-deep ul.p-treenode-children > .p-element > .p-treenode-leaf {
  margin-left: 0;
}

:host ::ng-deep ul.p-treenode-children > .p-element > .p-treenode:not(.p-treenode-leaf) {
  margin-left: 0;
}

.workspace-title {
  background: var(--secondary);
  h4 {
    margin: 0;
    padding: 0.8rem;
    font-style: initial;
    text-transform: uppercase;
    color: var(--contrast);
  }
}

.empty {
  color: rgb(146 142 142 / 92%);
}

.tree-container {
  height: 96%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .row-container {
    display: flex;
    align-items: center;
    .indent {
      border-right: 1px solid rgba(77, 77, 77, 0.608);
    }
    .indentActive {
      border-right: 1px solid rgb(187 180 180 / 87%);
    }
  }
}

.indent {
  width: 1rem;
  min-width: 1rem;
  height: 2.5rem; // same as p-treenode-content
}

.dropzone {
  display: block;
  flex: 1;
  min-height: 3rem;
}

.dragging {
  background: var(--buttonColor);
  opacity: 0.5;
  border-radius: 5px;
  transition: background-color 300ms ease-in;
}

.node-row {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  p {
    margin: 0 0.5rem;
  }
}

.icon {
  width: 1.4rem;
}
