<div class="container">
  <div class="title-container">
    <p mat-dialog-title class="title">
      Are you sure you want to move the following
      <span class="icon">{{ toMoveCount }}</span> {{ moveText }}
    </p>
  </div>
  <div mat-dialog-content>
    <span *ngFor="let folder of displayTexts.folders">
      <div class="file-container">
        <mat-icon class="icon material-icons-outlined">folder</mat-icon>
        <p class="display-text">{{ folder }}</p>
      </div>
    </span>
    <span *ngFor="let file of displayTexts.files">
      <div class="file-container">
        <img class="icon" src="../../../../assets/icons/file-extension-icons/txt.svg" />
        <p class="display-text">{{ file }}</p>
      </div>
    </span>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button class="move" (click)="onMoveClick()">Move</button>
  </mat-dialog-actions>
</div>
