@import 'src/variables.scss';

:host {
  width: 100%;
  height: 100%;
  display: block;
}
.top-bar {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.8rem;
  border-bottom: $editor-top-bar-border;
  border-top: $editor-top-bar-border;
  background: var(--backgroundPrimary);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
  }
  .editor-settings {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .last-saved {
    h4,
    h3 {
      margin: 0;
      font-weight: 100;
    }
    display: flex;
    align-items: center;
  }
  mat-icon {
    color: var(--iconColor);
    margin-left: 10px;
    transform: scale(1.1);
    cursor: pointer;
  }
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #cccccc;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: white;
}
