@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';
@import '~primeng/resources/themes/arya-green/theme.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../src/variables.scss';

body,
body .p-component {
  font-family: 'Segoe UI', Arial, sans-serif;
}

.mat-menu-content {
  background: var(--secondary);
  color: var(--contrast);
}

html,
body,
app-main {
  margin: 0;
  font-size: $base-font-size;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
}

body .as-split-gutter-icon {
  background-color: var(--topbarBg) !important;
  background: var(--topbarBg) !important;
  background-image: none;
}

body .topbar {
  background: var(--topbarBg);
}

body .p-button.p-button-icon-only.p-button-rounded {
  background-color: none;
  background: none;
  color: var(--contrast);
  border: none;
}

body .p-inputtext {
  opacity: 1;
  color: var(--contrast);
  background: var(--primary);
}

body .p-tree span {
  color: var(--contrast);
}

body .p-tree,
.side-menu-split {
  padding-top: 0;
  border: none;
  background: var(--secondary);
}

body .default-view {
  height: 100%;
  width: 100%;
  background: var(--primary);
}
