@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.css';
@import '~primeng/resources/themes/arya-green/theme.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../src/variables.scss';
@import './github-markdown.css';

body,
body .p-component {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.mat-menu-content {
  background: var(--backgroundTertiary);
  color: var(--contrast);
}

html,
body,
app-main {
  margin: 0;
  font-size: $base-font-size;
  background: var(--backgroundPrimary);
  width: 100%;
  height: 100%;
}

body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 5px;
  scrollbar-width: 5px;
}

body ::-webkit-scrollbar-thumb {
  background: #a7a6a63b;
  border-radius: 5px;
  visibility: hidden;
}
body ::-webkit-scrollbar-track {
  width: 5px;
}

body .mat-dialog-container {
  background-color: var(--backgroundPrimary);

  color: var(--contrast);
  .mat-form-field-label,
  .mat-focused .mat-form-field-label {
    color: var(--contrast);
  }
  .mat-button:hover {
    background-color: var(--buttonColor);
  }
  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: var(--buttonColor);
  }
  .mat-focused .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: var(--buttonColor) !important;
  }
}

body .p-contextmenu {
  background-color: #242529;
  opacity: 0.8;
  border: none;
  border-radius: 5px;
  .p-menuitem > .p-menuitem-link {
    .p-submenu-icon,
    .p-menuitem-icon,
    .p-menuitem-text {
      color: var(--contrast);
      opacity: 0.8;
    }
  }
  .delete > .p-menuitem-link {
    .p-submenu-icon,
    .p-menuitem-icon,
    .p-menuitem-text {
      color: rgb(216 11 67 / 1);
    }
  }
  .p-menu-separator {
    width: 90%;
    margin: 0.5rem 5%;
    border-top: 1px solid #5252524f;
  }
  .p-menuitem-link .p-menuitem-icon {
    color: var(--contrast);
  }
  .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background: var(--buttonColor);
    color: var(--contrast);
  }
  .p-submenu-list {
    background-color: #18191c;
  }
}

body .mat-option {
  background: var(--backgroundPrimary);
  color: var(--contrast);
  &:hover {
    background: var(--buttonColorLowOpacity) !important;
  }
}

body .mat-simple-snackbar {
  color: white;
}
body .mat-option.mat-active {
  color: var(--contrast);
  background: var(--buttonColor) !important;
}

body .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--contrast);
  background: var(--backgroundPrimary);
}
body .mat-select-panel {
  background: var(--backgroundPrimary);
  color: var(--contrast);
}

body .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--buttonColor);
}

body .mat-select-content {
  background: var(--backgroundPrimary);
  color: var(--contrast);
}

body .topbar {
  background: var(--backgroundPrimary);
}

body .p-tooltip {
  background-color: black;
  color: white;
}

body .p-inputtext {
  opacity: 1;
  color: var(--contrast);
  background: var(--backgroundPrimary);
}

body .p-tree span {
  color: var(--contrast);
}

body .p-tree,
.side-menu-split {
  padding-top: 0;
  border: none;
}

body .editor-view {
  width: 100%;
  background: var(--backgroundPrimary);
}
