$base-font-size: 12px;
$highlight-font-size: 16px;

$dark-1-primary: #282728;
$dark-1-secondary: #1f1e1f;
$dark-1-topbarBg: #141113;
$dark-1-accent: #fc0042;
$dark-1-gutter-bg: #100e0e;
$dark-1-opposite-color: white;

$dark-2-primary: #1b2025;
$dark-2-secondary: #131418;
$dark-2-topbarBg: #181e22;
$dark-2-accent: red;

$text-color: white;
$transition-duration: 150ms;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$font-family: 'Roboto', sans-serif;
