$base-font-size: 12px;

$dark-1-editor-bg: #282728;
$dark-1-side-menu-bg: #1f1e1f;
$dark-1-top-bar-bg: #141113;
$dark-1-accent: #fc0042;
$dark-1-gutter-bg: #100e0e;
$dark-1-opposite-color: white;

$dark-2-editor-bg: #1b2025;
$dark-2-side-menu-bg: #131418;
$dark-2-top-bar-bg: #181e22;
$dark-2-accent: red;

$text-color: white;
