<h2 mat-dialog-title>Initial Application Setup</h2>
<mat-dialog-content class="mat-typography">
  <h3>Choose a workspace directory</h3>
  <p>
    Workspace directory will be the folder where all of your files created in this application go. You can choose an
    existing folder or create a new one.
  </p>

  <span>
    <p>
      <mat-icon>info</mat-icon> Do <strong>NOT</strong> choose an existing folder with thousands of files like
      <span style="font-style: italic">Documents</span> or <span style="font-style: italic">Downloads</span>, because
      the application will likely crash due to too many files and folders to index. This is a known issue and will be
      fixed in the future.
    </p>
  </span>

  <h3>Change workspace on the go</h3>
  <p>
    Changing your workspace is easy and you can do it anytime. All of your files and workspace specific settings will
    still be there after switching.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onChooseDirectory()" cdkFocusInitial>Choose directory</button>
</mat-dialog-actions>
