<h2 mat-dialog-title>Initial Application Setup</h2>
<mat-dialog-content class="mat-typography">
  <h3>Choose a workspace directory</h3>
  <p>
    Base workspace directory will be the folder where all of your files created in this application go. You can choose
    an existing folder, create a new one, or let the application create one for you. Options are:
  </p>
  <ul>
    <li>Set default directory: creates an empty folder in <span style="font-style: italic">acolite/app</span></li>
    <li>Choose directory: select the desired destination, or create a new one.</li>
  </ul>

  <h3>Change workspace on the go</h3>
  <p>
    Changing your workspace is easy and you can do it anytime. All of your files will still be there, and all of the
    workspaces will be backed up separately.
  </p>

  <h3>Backing up your data</h3>
  <p>
    By default your workspace will be backed up to the cloud if you decide to log in by one of the available
    authentication methods. You can control your backup preferences in the settings.
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onSetDefaultDirectory()">Set default directory</button>
  <button mat-button (click)="onChooseDirectory()" cdkFocusInitial>Choose directory</button>
</mat-dialog-actions>
