@import 'src/variables.scss';

:host ::ng-deep {
  .mat-list-item {
    height: auto !important;
  }
  .mat-list-item-content {
    color: var(--contrast);
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: white;
  }
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
  .mat-slide-toggle.mat-checked .mat-slide-toggle-ripple .mat-ripple-element {
    background-color: var(--buttonColor);
  }
}

.mat-dialog-title {
  color: var(--buttonColor);
  text-align: center;
}

.separator {
  width: 100%;
  margin: 1.5rem 0;
  border-top: 1px solid #5252524f;
}

.label {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  opacity: 0.6;
  span {
    color: var(--iconColor);
  }
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 400px;

  .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
  }
  .datepickers {
    width: 100%;
  }
}

hr {
  width: 100%;
  border: $app-border;
}

:host ::ng-deep .mat-list-base {
  padding: 0.5rem;
}
