<div class="editor-section">
  <ng-template #editor let-monacoReady="monacoReady">
    <app-editor-top-bar [tab]="tab" [lastModified]="lastModified" [showMonacoThemeList]="true"></app-editor-top-bar>
    <mat-spinner [ngClass]="{ hide: monacoReady }"></mat-spinner>
    <ngx-monaco-editor
      [ngClass]="{ show: monacoReady }"
      [options]="editorOptions"
      (init)="onEditorInit($event)"
      [(ngModel)]="fileContent"
      (ngModelChange)="onInputChange()"
    ></ngx-monaco-editor>
  </ng-template>

  <ng-container *ngTemplateOutlet="editor; context: { monacoReady: monacoReady$ | async }"></ng-container>
</div>
